body{
    margin:0;
    font-family: sans-serif;
}

.main_nav {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    background-color: #fff;
    align-items: center;
    
}

.main_nav li {
    border: none;
    padding: 9px 15px;
   
}
.main_nav li a {
    color:#100f11;
    text-decoration: none;
}


.main_nav li:hover{
    border-bottom: 2px solid #000000;
      
}


